html {
  --sdp-border-radius: 4px;

  --sdp-font-family: "Roboto", sans-serif;
  --sdp-font-weight: 400;
  --sdp-base-font-color: rgba(0, 0, 0, 0.87);

  --sdp-accent-color: rgb(255, 62, 0);

  --sdp-hover-bg-color: rgba(238, 238, 238, 0.625);
  --sdp-hover-color: rgba(0, 0, 0, 0.87);

  --sdp-bg-focus-color: var(--sdp-accent-color);
  --sdp-focus-color: rgba(0, 0, 0, 0.87);

  --sdp-bg-active-color: var(--sdp-accent-color);
  --sdp-active-color: rgb(255, 255, 255);

  --sdp-bg-selected-color: var(--sdp-accent-color);
  --sdp-selected-color: rgb(255, 255, 255);

  --sdp-bg-color: rgb(255, 255, 255);
  --sdp-btn-bg-color: rgb(255, 255, 255);

  --sdp-color-grey-500: rgb(80, 80, 80);
  --sdp-color-grey-400: rgb(133, 133, 133);
  --sdp-color-grey-300: rgb(216, 216, 216);
}
